body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.circle {
    position: absolute;
    opacity: 50%;
    border-radius: 50%;
}