* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tahoma", sans-serif;
}

#app {
  display: flex;
  width: 100%;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

#app section {
  border: 1px solid skyblue;
  padding: 10px;
  border-radius: 5px;
}

h2 {
  color: #5e44d4;
  margin-bottom: 10px;
  text-align: center;
}

section#read {
  margin-left: 10px;
  margin-top: 10px;
}
section#read ul {
  list-style: none;
}
section#read ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
section#read ul li span {
  display: inline-block;
  font-size: 20px;
}
section#read ul li span.tree-id {
  color: #3b7dc9;
  font-weight: bold;
  width: 50px;
}
section#read ul li span.tree-name {
  color: #5e44d4;
  width: 120px;
}
section#read ul li span.tree-height {
  color: #f0a500;
  font-style: italic;
  width: 80px;
}
section#read ul li span.tree-type {
  color: crimson;
  width: 100px;
}

section#create,
section#delete,
section#edit {
  margin-left: 10px;
  margin-top: 10px;
}
section#create > div,
section#delete > div,
section#edit > div {
  display: flex;
  flex-direction: column;
}
section#create > div input,
section#create > div select,
section#delete > div input,
section#delete > div select,
section#edit > div input,
section#edit > div select {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
section#create > div label,
section#delete > div label,
section#edit > div label {
  margin-bottom: 5px;
}
section#create button,
section#delete button,
section#edit button {
  padding: 5px;
  background-color: darkgoldenrod;
  color: white;
  border: none;
  cursor: pointer;
}
