* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway;
}



.comments {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}


.comments h2 {
    padding: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: .01em;
}

.commentsAndLogos {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentsAndLogos ul li {
    list-style-type: none;
}

.red-star {
    color: crimson;
    font-size: 20px;

}

.agness {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .07em;
 
}

.estre {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .07em;
   
}

.jose {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .07em;
    
}

.ashley {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .07em;
    
}

body>section>div>ul>li:nth-child(1)>h3>span.google>img {
    width: 25px;
    height: 25px;
    margin-left: 248px;
    margin-top: 3px;
    position: absolute;

}


body>section>div>ul>li:nth-child(2)>h3>span.google>img {
    width: 25px;
    height: 25px;
    margin-left: 206px;
    margin-top: 3px;
    position: absolute;
}

body>section>div>ul>li:nth-child(3)>h3>span.google>img {
    width: 25px;
    height: 25px;
    margin-left: 125px;
    margin-top: 3px;
    position: absolute;
}

body>section>div>ul>li:nth-child(4)>h3>span.google>img {
    width: 25px;
    height: 25px;
    margin-left: 247px;
    margin-top: 3px;
    position: absolute;
}

.para {
    padding: 20px 0;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.para a {
    color: crimson;
    text-decoration: none;
    letter-spacing: 0.3px;
}