* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.purpleLine {
  width: 100%;
  height: 20px;
  background-color: #60267f;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.purpleLine a {
  color: white;

}

main {
  display: flex;
  flex-direction: column;
}

body {
  font-family: Roboto;
}

h2 {
  font-size: 36px;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainHeader {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0px 2.2px 2.2px 0px #0000000f;
}

.navigationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navigationContainer nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #2b0236;
}

.navigationContainer nav ul li {
  list-style-type: none;
  font-size: 12px;

}

.navigationContainer nav ul li a {
  text-decoration: none;
  font-family: Roboto;
  color: #9a54bc;
  font-weight: 600;
}

.navigationContainer nav ul li a:hover {
  color: crimson;
}

.navigationContainer button {
  border: 0.88px solid #9a54bc;
  border-radius: 3px;
  padding: 4.4px;
  background-color: white;
  color: #9a54bc;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.navigationContainer button:hover {
  background-color: #60267f;
  color: #FFFFFF;
}

.firstContainer {
  width: 100%;
  height: auto;
  padding: 45px 40px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleBig h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 28px;
  color: #2b0236;
}

.titleBig h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 28px;
  color: #2b0236;
}

.buttonSecond {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonSecond button {
  box-shadow: 0px 4.4px 8.8px 0px #0000001a;
  background-color: #9a54bc;
  color: white;
  width: 112.25px;
  height: 32.57px;
  border: 1.48px solid #9a54bc;
  border-radius: 3px;
  padding: 7.41px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.buttonSecond button:hover {
  background-color: white;
  color: #9A54BC;
}

.simgContainer {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.ellipse2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;


}

.ellipse1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-bottom: 120px;

}

.Rectangle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -100px;
}

.collab {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-bottom: 90px;
}

.button3 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 250px;
}

.but3 {
  background: #FFFFFF;
  box-shadow: 0px 4.4px 8.8px 0px #0000001A;
  border: 1.48px solid #9A54BC;
  border-radius: 2.96px;
  width: 112.25px;
  height: 26.85px;
  color: #60267F;
  font-size: 10.56px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

}

.but3:hover {
  background-color: #60267f;
  color: #FFFFFF;
}

.brandTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandTitle h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandImg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 40px;

}

.brandI {
  width: 69.27px;
  height: 69.99px;
}

.howDoesCollabHelpContainer {
  margin-top: 150px;
  flex-direction: column;
  gap: 50px;
}

.textAndImgContainer {
  width: 75%;

  height: 400px;
}

.textAndImgContainer .textContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 50px;
}

.ancorContainer {
  width: 100%;
  height: 50px;
  justify-content: space-around;
  box-shadow: 0px 3.96px 5.28px 0px #00000017;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;

}

.ancorContainer a {
  text-decoration: none;
  width: 50%;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  font-family: Roboto;

}

.ancorContainer a:hover {
  background-color: #60267f;
  border: 2px solid #9A54BC;
  color: #FFFFFF;
}



.paraContainer {
  flex-direction: column;
  align-items: center;
  gap: 30px;

}

.textContainerParagrath {
  background-color: #F2F2F2;
  width: 80%;
  padding: 30px 10px;


}

.textContainerParagrath b {
  font-size: 14px;
  font-weight: 500;
}

.imgContainer {
  width: 50%;

}

.imgContainer img {
  margin-top: 220px;
  width: 320px;
}